<div class="container px-5 px-sm-0">
  <div class="row">

<%= render 'books/list', user: @book_user, new_book: @new_book %>

    <div class="col-md-8 offset-md-1">
      <!--book detail-->
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @book_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %><br />
                <%= link_to @book_user.name, user_path(@book_user) %>
              </td>
              <td>
                <%= link_to @book.title, book_path %>
              </td>
              <td>
                <%= @book.body %>
              </td>

              <% if @book.favorited_by?(current_user) %>
                <td><%= link_to "♥", book_favorite_path(@book), method: :delete %></td>
              <% else %>
                <td><%= link_to "♡", book_favorites_path(@book), method: :post %></td>
              <% end %>

              <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "本当に消しますか？" %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>